

<table class="attr">
  <tr>
    <th><%= form.label :nickname, "ニックネーム" %></th>
    <td><%= form.text_field :nickname, size: 8 %></td>
  </tr>
  <tr>
    <th><%= form.label :one, "1番" %></th>
    <td><%= form.text_field :one %></td>
  </tr>
  <tr>
    <th><%= form.label :two, "2番" %></th>
    <td><%= form.text_field :two %></td>
  </tr>
  <tr>
    <th><%= form.label :three, "3番" %></th>
    <td><%= form.text_field :three %></td>
  </tr>
  <tr>
    <th><%= form.label :four, "4番" %></th>
    <td><%= form.text_field :four %></td>
  </tr>
  <tr>
    <th><%= form.label :five, "5番" %></th>
    <td><%= form.text_field :five %></td>
  </tr>
  <tr>
    <th><%= form.label :six, "6番" %></th>
    <td><%= form.text_field :six %></td>
  </tr>
  <tr>
    <th><%= form.label :seven, "7番" %></th>
    <td><%= form.text_field :seven %></td>
  </tr>
  <tr>
    <th><%= form.label :eight, "8番" %></th>
    <td><%= form.text_field :eight %></td>
  </tr>
  <tr>
    <th><%= form.label :nine, "9番" %></th>
    <td><%= form.text_field :nine %></td>
  </tr>
  <tr>
    <th><%= form.label :team, "チーム" %></th>
    <td><%= form.text_field :team %></td>
  </tr>
</table>
