<% @page_title = "会員情報の編集" %>

<h1><%= @page_title %></h1>

<p><%= link_to "会員の詳細に戻る", @lineup %></p>

<%= form_for @lineup do |form| %>
	<%= render "form", form: form %>
	<p><%= form.submit %></p>
<% end %>
