<%  @page_title = "コメント履歴" %>
<h1><%=  @page_title %></h1>

<%= form_tag :search_lineups, method: :get do %>
  <p><%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %></p>
<% end %>

<% if @lineups.present? %>
<table class="list">
  <tr>
    <th>ニックネーム</th>
    <th>チーム</th>
  </tr>
  <% @lineups.each do |lineup| %>
  <tr>
    <td style="text-align: right"><%= link_to lineup.nickname, lineup %></td>
    <td><%= lineup.team %></td>
    <td>
      <%= link_to "編集", [:edit, lineup] %> |
      <%= link_to "削除", lineup, method: :delete,
            data: { confirm: "本当に削除しますか?" } %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>会員情報がありません。</p>
<% end %>
