<%  @page_title = "会員の詳細" %>

<h1><%=  @page_title %></h1>

<p><%= link_to "編集", [:edit, @lineup] %></p>

<table class="attr">
  <tr>
    <th width="150">ニックネーム</th>
    <td><%= @lineup.nickname %></td>
  </tr>
  <tr>
    <th>1番</th>
    <td><%= @lineup.one %></td>
  </tr>
  <tr>
    <th>2番</th>
    <td><%= @lineup.two %></td>
  </tr>
  <tr>
    <th>3番</th>
    <td><%= @lineup.three %></td>
  </tr>
  <tr>
    <th>4番</th>
    <td><%= @lineup.four %></td>
  </tr>
  <tr>
    <th>5番</th>
    <td><%= @lineup.five %></td>
  </tr>
  <tr>
    <th>6番</th>
    <td><%= @lineup.six %></td>
  </tr>
  <tr>
    <th>7番</th>
    <td><%= @lineup.seven %></td>
  </tr>
  <tr>
    <th>8番</th>
    <td><%= @lineup.eight %></td>
  </tr>
  <tr>
    <th>9番</th>
    <td><%= @lineup.nine %></td>
  </tr>
  <tr>
    <th>チーム</th>
    <td><%= @lineup.team %></td>
  </tr>
</table>
