
	<div id="home">

	<section id="home-01" class="flex">
		<h1 class="tit">開幕スタメンを当てようぜ!</h1>
	</section>

	<section id="home-02" class="flex uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		<div class="uk-container uk-container-center">
			<h2 class="home-tit">サイト概要</h2>
			<p>各球団ページで開幕のスタメン予想ができます。<br>
			自分に予想したスタメンへのコメントをもらえたり、他のユーザへコメントすることができます。
			</p>
			<h3 class="white">対応球団</h3>
			<ul>
	            <p class="mt0">セリーグ</p>
	           	<li>東京ヤクルトスワローズ</li>
	            <li>読売巨人ジャイアンツ</li>
	            <li>阪神タイガーズ</li>
	            <li>広島東洋カープ</li>
	            <li>中日ドラゴンズ</li>
	            <li>DeNA横浜ベイスターズ</li>
	        </ul>
	        <ul class="footer-work">
	            <p class="mt0">パリーグ</p>
	            <li>福岡ソフトバンクホークス</li>
	            <li>北海道日本ハムファイターズ</li>
	            <li>千葉ロッテマリーンズ</li>
	            <li>西武ライオンズ</li>
	            <li>オリックスバファローズ</li>
	            <li>東北楽天イーグルズ</li>
			</ul>
	</section>

	<section id="home-03" class="flex">
		<div class="uk-container uk-container-center">
			<h2 class="home-tit">セリーグ</h2>
			<div class="uk-grid  uk-grid-width-large-1-3 uk-grid-width-small-1-2" data-uk-grid-margin>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Swallows.php"><%= image_tag("home/01_S.jpg", alt: "東京ヤクルトスワローズ") %></a>
		        </section>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="team/Giants"><%= image_tag("home/02_S.jpg", alt: "東京読売ジャイアンツ") %></a>
		        </section>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Tigers.php"><%= image_tag("home/03_S.jpg", alt: "阪神タイガーズ") %></a>
		        </section>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Carp.php"><%= image_tag("home/04_S.jpg", alt: "広島東洋カープ") %></a>
		        </section>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Dragons.php"><%= image_tag("home/05_S.jpg", alt: "中日ドラゴンズ") %></a>
		        </section>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Baystars.php"><%= image_tag("home/06_S.jpg", alt: "横浜ベイスターズ") %></a>
		        </section>
		    </div>
		</div>
	</section>

	<section id="home-04" class="flex">
		<div class="uk-container uk-container-center">
			<h2 class="home-tit">パリーグ</h2>
			<div class="uk-grid  uk-grid-width-large-1-3 uk-grid-width-small-1-2" data-uk-grid-margin>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Hawks.php"><%= image_tag("home/01_P.jpg", alt: "福岡ソフトバンクホークス") %></a>
		        </section>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Fighters.php"><%= image_tag("home/02_P.jpg", alt: "北海道日本ハムファイターズ") %></a>
		        </section>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Marines.php"><%= image_tag("home/03_P.jpg", alt: "千葉ロッテマリーンズ") %></a>
		        </section>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Lions.php"><%= image_tag("home/04_P.jpg", alt: "西武ライオンズ") %></a>
		        </section>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Buffaloes.php"><%= image_tag("home/05_P.jpg", alt: "オリックスバファローズ") %></a>
		        </section>
		        <section class="uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		        	<a href="Eagles.php"><%= image_tag("home/06_P.jpg", alt: "東北楽天イーグルズ") %></a>
		        </section>
			</div>
		</div>
	</section>

	</div>

